{% extends 'home/base/base.html' %}
{% block content %}
<section class="no-padding">
    <div class="hero-wrap fl-wrap darkbg_2">
        <div class="hero-wrap-container">
            <!-- content    -->
            <div class="hero-slider-wrap fl-wrap full-height">
                <div class="hero-slider fl-wrap full-height">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <!--slide -->
                            <div class="swiper-slide">
                                <div class="fs-slider-item fl-wrap">
                                    <div class="bg" data-bg="static/images/bg/6.jpg" data-swiper-parallax="40%"></div>
                                    <div class="overlay"></div>
                                    <div class="hero-wrap-title">
                                        <div class="container">
                                            <div class="hero-wrap-title_item fl-wrap">
                                                <h3>Guaranteed high quality</h3>
                                                <h2>Welcome To TheRoof - <br> <span>Construction Services</span> <br> Company </h2>
                                                <div class="clearfix"></div>
                                                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.</h4>
                                                <div class="clearfix"></div>
                                                <a href="#" class="hc_btn color-bg"><span>View Our Services</span></a>
                                            </div>
                                            <div class="hero-scroll-down-notifer  ">
                                                <div class="scroll-down-wrap ">
                                                    <div class="mousey">
                                                        <div class="scroller color-bg"></div>
                                                    </div>
                                                </div>
                                                <i class="far fa-angle-down"></i>
                                            </div>
                                            <div class="hwt_dec" data-swiper-parallax="50%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--slide end -->
                            <!--slide -->
                            <div class="swiper-slide">
                                <div class="fs-slider-item fl-wrap">
                                    <div class="bg" data-bg="static/images/bg/14.jpg" data-swiper-parallax="40%"></div>
                                    <div class="overlay"></div>
                                    <div class="hero-wrap-title">
                                        <div class="container">
                                            <div class="hero-wrap-title_item fl-wrap">
                                                <h3>Architecture Project</h3>
                                                <h2>Our new Project <br> <a href="portfolio-single.html"><span>World Trade Center</span></a></h2>
                                                <div class="clearfix"></div>
                                                <h4>Quis autem vel eum iure reprehenderit qui in ea voluptate</h4>
                                                <div class="clearfix"></div>
                                                <a href="#" class="hc_btn color-bg"><span>View Project Details</span></a>
                                            </div>
                                            <div class="hwt_dec" data-swiper-parallax="50%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--slide end -->
                            <!--slide -->
                            <div class="swiper-slide">
                                <div class="fs-slider-item fl-wrap">
                                    <div class="bg" data-bg="static/images/bg/13.jpg" data-swiper-parallax="40%"></div>
                                    <div class="overlay"></div>
                                    <div class="hero-wrap-title">
                                        <div class="container">
                                            <div class="hero-wrap-title_item fl-wrap">
                                                <h3>Guaranteed high quality</h3>
                                                <h2>Need An <span>Equipment</span> On Rent? <br> Start Today!</h2>
                                                <div class="clearfix"></div>
                                                <h4>Quis autem vel eum iure reprehenderit qui in ea voluptate</h4>
                                                <div class="clearfix"></div>
                                                <a href="#" class="hc_btn color-bg"><span>Visit Our Shop</span></a>
                                            </div>
                                            <div class="hwt_dec" data-swiper-parallax="50%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--slide end -->
                        </div>
                    </div>
                </div>
                <div class="hero-slider-cont hero-slider-cont-prev"><i class="fas fa-caret-left"></i></div>
                <div class="hero-slider-cont hero-slider-cont-next"><i class="fas fa-caret-right"></i></div>
                <div class="hero-slider-pagination hsp_mob"></div>
            </div>
            <!-- hero-slider-wrap end  -->
        </div>
        <div class="slider-progress-bar act-slider">
            <span>
                <svg class="circ" width="30" height="30">
                    <circle class="circ2" cx="15" cy="15" r="13" stroke="rgba(255,255,255,0.4)" stroke-width="1" fill="none" />
                    <circle class="circ1" cx="15" cy="15" r="13" stroke="#F7B90F" stroke-width="2" fill="none" />
                </svg>
            </span>
        </div>
        <div class="play-pause_slider hsc_pp auto_actslider"><i class="fas fa-play"></i></div>
    </div>
</section>
{% endblock %}