{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    {% if title %}
        <title>ACUHOMES|{{ title }}</title>
    {% else %}
        <title>ACUHOMES</title>
    {% endif %}
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/color.css' %}">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>
    <!-- loader start  -->
	<div class="loader-holder">
		<span></span>
		<span></span>
		<span></span>
	</div>

    <!-- main start  -->
	<div id="main">

        <!-- progress-bar  -->
		<div class="progress-bar-wrap">
			<div class="progress-bar color-bg"></div>
		</div>

        <!-- header -->
        <header class="main-header">
			<!-- top bar -->
			<div class="top-bar fl-wrap">
				<div class="container">
					<a href="#" class="tbhc_btn"><i class="fas fa-envelope"></i> Our Contacts</a>
					<div class="top-bar-header-contact">
						<ul>
							<li><i class="fal fa-envelope"></i><a href="#">info@acuhomes.co.ke</a></li>
							<li><i class="fal fa-map-marker"></i><a href="#" target="_blank"> Laiboni Close 14, North Nkoroi Rd, Ongata Rongai</a></li>
							<li><i class="fal fa-phone"></i><a href="tel:+7(111)123456789"> +(254)720012309</a></li>
						</ul>
					</div>
					<ul class="topbar-social">
						<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
					</ul>
					<!--  login btn -->
					<!-- <div class="show-reg-form "><i class="fas fa-user"></i><span>Sign In</span></div> -->
					<!--  login btn  end -->
				</div>
			</div>
			<!-- top bar end -->
			<div class="header-inner fl-wrap">
				<div class="container">
					<!-- logo holder  -->
					<a href="#" class="logo-holder"><img src="{% static 'images/logo.png' %}" alt=""></a>

					
					<div class="search_btn htact show_search-btn"><i class="far fa-search"></i> <span class="header-tooltip">Search</span></div>
				
					<!-- header-search-wrap -->
					<div class="header-search-wrap novis_sarch">
						<div class="widget-inner">
							<form action="#">
								<input name="se" id="se" type="text" class="search" placeholder="Search..." value="" />
								<button class="search-submit" id="submit_btn"><i class="fa fa-search transition"></i> </button>
							</form>
						</div>
					</div>
					<div class="share-wrapper  isShare">
						<div class="close-share-btn"><i class="fal fa-long-arrow-up"></i></div>
						<div class="share-container fl-wrap  isShare"></div>
					</div>

					<div class="nav-button-wrap">
						<div class="nav-button">
							<span></span><span></span><span></span>
						</div>
					</div>

					<div class="nav-holder main-menu">
						<nav>
							<ul>
								<li><a href="{% url 'home' %}" class="act-link">Home</a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
								<li><a href="{% url 'services' %}">Services</a></li>
								<li><a href="#">Projects</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</nav>
					</div>
					<!-- navigation  end -->
				</div>
			</div>
		</header>


        <div id="wrapper">
            <div class="content">

                {% block content %}


                {% endblock %}

            </div>

            <div class="height-emulator fl-wrap"></div>

            <footer class="main-footer">
				<div class="container">
					<div class="footer-bottom fl-wrap">
						<!-- <a href="#" download class="dl-footer_btn color-bg"><span><i class="fal fa-file-pdf"></i></span>Company Presentation.PDF </a>
						<a href="#" download class="dl-footer_btn color-bg"><span><i class="fal fa-cart-arrow-down"></i></span>Download Pricing.PDF </a> -->
						<div class="footer-social">
							<span class="footer-social-title">Follow us :</span>
							<ul>
								<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- sub-footer -->
				<div class="sub-footer fl-wrap">
					<div class="container">
						<div class="copy-right">&#169; <span>ACUHOMES</span> 2024. All rights reserved. </div>
						<div class="to-top"> <i class="fas fa-caret-up"></i></div>
						<div class="subfooter-nav">
							<ul class="no-list-style">
								<li><a href="#">Terms of use</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">News</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- sub-footer end-->
				<div class="footer-bg" data-ran="4"></div>
			</footer>
        </div>

    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>